  form {
      display: grid;
      gap: 10px;

  }

  .grad {
      background-image: conic-gradient(from 90deg, red, yellow, green);
  }


  .AddEducation {
      padding: 15px;
      width: 1000px;
      background-color: #dfccc5;
      box-shadow: 5px 5px 5px 5px rgb(105, 106, 106);

  }

  label {
      font-weight: 500;
  }

  input,
  select,
  textarea {
      width: 100%;
      padding: 4px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 6px;
  }

  button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  button:hover {
      background-color: #0056b3;
  }

  .success-popup {
      background-color: #d4edda;
      color: #155724;
      padding: 10px;
      border-radius: 4px;
      margin-top: 10px;
  }